<div class="contact" id="contact"><h1>Contact</h1>
  <p>If you'd like to get in touch, I'd be happy to hear from you!</p>
  <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;<a href="mailto:linda@linda.com">linda@linda.com</a></p>
  <p><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp;00 49 123 45 67 89</p>
  <p><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;Friedrichshain, Berlin.</p>
</div>
