<h1>Welcome to Linda's first app</h1>
<h2>Your source to see Linda's developer skills improve with each passing day.</h2>
<p>Check out this pretty kitty.</p>

<%= image_tag("cat.jpg", class: "img-responsive") %>
