<table>
  <tbody>
    <tr>
      <td><p>Hello <%= @user.name =%>, thank you for placing an order with us. </p></td>
    </tr>
    <tr>
      <td><p>You ordered: <%= @order.product.name %></p></td>
      <td><p>Please allow 4-6 weeks for delivery.</p></td>
            <p>We hope you enjoy it!</p>
            <p></p>
            <p></p>
            <p>With love,</p>
            <p>Your La Tuquerie Team</p>
    </tr>
  </tbody>
</table>
