// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_titles {
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: lighter;
  font-size: 15px;
  padding-left: 10px;
}

.product_form {
  margin-bottom: 50px;
}

.product_show {
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: lighter;
  padding-bottom: 30px;
}

.img_show_group {
  float: right;
}

h4 {
  font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: lighter;
}

.product-reviews {
  margin-bottom: 20px;
}
