<!DOCTYPE html>
<html>
<head>
  <title>Lindasapp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>

<div class="wrapper">
  <nav class="navbar">
    <ul class="nav navbar-nav">
      <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Home&nbsp;</li>
      <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> About&nbsp;</li>
      <li><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Contact&nbsp;<span class="glyphicon glyphicon-plus" aria-hidden="true"></span></li>
    </ul>
  </nav>

<%= yield %>
</div> <!--end wrapper-->

  <footer class="site-footer">
    &copy; 2016 Linda Bergen
  </footer>

</body>
</html>
